{% extends 'base.html' %}

{% block body %}
<div class="jumbotron content">
    <h1>OdJob</h1>
    <h3>Where No Job Is Odd</h3>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1520629432367-df1f4a51b19f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d63f80a1ba81fc8962fb136a7e8a1f6b&auto=format&fit=crop&w=967&q=80">
            </div>
            <h4>Dog Walking</h4>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1508824623134-da66caa91eca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab857629734177ff166751767bac4b49&auto=format&fit=crop&w=1009&q=80">
            </div>
            <h4>Tutoring</h4>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1470049454586-e5301a4b53d1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc64503ff9e695691a38ce367db13b59&auto=format&fit=crop&w=1050&q=80">
            </div>
            <h4>Gardening</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/reserve/tHTHup3YTN6XsLwf43vY_IMG_8003.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5129da3324e4a10f3fd821feffdc3fc&auto=format&fit=crop&w=1051&q=80">
            </div>
            <h4>Cooking</h4>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1511920593290-3cb2deb1ce1c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c598c6beb66973a1b0d045bc6a8d28f9&auto=format&fit=crop&w=1050&q=80">
            </div>
            <h4>Grooming</h4>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1457408994065-3c1586bd86d0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=94fba9f0ccda926fb80832e783182103&auto=format&fit=crop&w=1050&q=80">
            </div>
            <h4>Baby Sitting</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1517837817850-607cd9ff1015?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70f790e2057f5bb4aa6403d0e86f82bb&auto=format&fit=crop&w=1050&q=80">
            </div>
            <h4>Cleaning</h4>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/uploads/14114186770621924b36f/3a8bd6d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5df298751db1a0eebc181c9d2c1c1a4&auto=format&fit=crop&w=1050&q=80">
            </div>
            <h4>Driving</h4>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://images.unsplash.com/photo-1504148455328-c376907d081c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8aa0df958e322abceb9b1ac178669cae&auto=format&fit=crop&w=1143&q=80">
            </div>
            <h4>Repairs</h4>
        </div>
    </div>

</div>
{% endblock %}